---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./remove-cpu-limits.yaml
  - ./add-safe-to-evict.yaml
  - ./inject-tz.yaml
  - ./ingress-authentik-annotation.yaml
  - ./ingress-authelia-annotation.yaml
