apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configmap
  namespace: security
  labels:
    app: authelia
data:
  configuration.yml: |
    server:
      buffers:
        read: 8192
        write: 8192

    session:
      redis:
        high_availability:
          sentinel_name: redis-master
          nodes:
            - host: redis-node-0.redis-headless.database.svc.cluster.local
              port: 26379
            - host: redis-node-1.redis-headless.database.svc.cluster.local
              port: 26379
            - host: redis-node-2.redis-headless.database.svc.cluster.local
              port: 26379

    totp:
      disable: false
      issuer: authelia.com
      algorithm: sha1
      digits: 6
      period: 30
      skew: 1
      secret_size: 32

    access_control:
      networks:
        - name: internal
          networks:
            - '10.0.0.0/8'
            - '172.16.0.0/12'
            - '192.168.0.0/18'
            - '185.39.140.119'
            - '176.182.189.13'
            - '2a03:d604:200:8700:b656:8ec0:85fe:9f80'
            - '2a01:e0a:bc2:a410:8787:873b:5ab0:c710'
            - '2001:861:2c23:4e40::/60'
      default_policy: deny
      rules:
        # Disable Authelia for local network
        - domain: ["*.${SECRET_DOMAIN}"]
          policy: bypass
          networks:
            - internal

          # Disable Authelia for apps that don't support it
        - policy: bypass
          domain:
            - "hass.${SECRET_DOMAIN}"
            - "vault.${SECRET_DOMAIN}"
            - "auth.${SECRET_DOMAIN}"
            - "grafana.${SECRET_DOMAIN}"
            - "authelia.security.svc.cluster.local"

          # No public access
        - policy: deny
          domain:
            - "*.${SECRET_DOMAIN}"
          resources:
            - "^/admin.*$"

          # Applications with built-in auth

          # Applications without auth
        - policy: two_factor
          domain:
            - "teslamate-solar.${SECRET_DOMAIN}"
            - "teslamate-solar-f.${SECRET_DOMAIN}"
            - "teslamate-grafana.${SECRET_DOMAIN}"
            - "teslamate.${SECRET_DOMAIN}"
            - "frigate.${SECRET_DOMAIN}"
            - "zigbee2mqtt.${SECRET_DOMAIN}"
            - "myelectricaldata.${SECRET_DOMAIN}"
            - "paperless.${SECRET_DOMAIN}"
            - "hass-code.${SECRET_DOMAIN}"
            - "solar-router.${SECRET_DOMAIN}"
            - "dtu.${SECRET_DOMAIN}"

          # Applications without auth but low security requirements
        - policy: one_factor
          domain:
            - "home.${SECRET_DOMAIN}"
            - "apps.${SECRET_DOMAIN}"
            - "jd2.${SECRET_DOMAIN}"
            - "sickchill.${SECRET_DOMAIN}"
            - "epic.${SECRET_DOMAIN}"

          # Family access
        - policy: one_factor
          domain:
            - "photos.${SECRET_DOMAIN}"
          subject: 'group:family'

    notifier:
      disable_startup_check: true
      #filesystem:
      #  filename: /data/notification.txt
      smtp:
        host: in-v3.mailjet.com
        port: 587
        timeout: 5s
        username: "${MAILJET_API_KEY}"
        password: "${MAILJET_API_SECRET}"
        sender: "Authelia <authelia@${SECRET_DOMAIN}>"
        identifier: localhost
        subject: "[Authelia] {title}"
        startup_check_address: test@authelia.com
        disable_require_tls: false
        disable_starttls: true
        disable_html_emails: false

    identity_providers:
      oidc:
        #cors:
        #  endpoints: ["authorization", "token", "revocation", "introspection"]
        #  allowed_origins_from_client_redirect_uris: true
        clients:
          - id: grafana
            description: Grafana
            secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
            public: false
            authorization_policy: one_factor
            pre_configured_consent_duration: 1y
            scopes: ["openid", "profile", "groups", "email"]
            redirect_uris: ["https://grafana.${SECRET_DOMAIN}/login/generic_oauth"]
            userinfo_signing_algorithm: none
