---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-minio
  namespace: flux-system
spec:
  dependsOn:
    - name: ingress-nginx-external
  path: ./kubernetes/apps/default/minio/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
#---
## yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
#apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
#kind: Kustomization
#metadata:
#  name: cluster-apps-minio-eu-east
#  namespace: flux-system
#spec:
#  dependsOn:
#    - name: ingress-nginx-external
#  path: ./kubernetes/apps/default/minio/app-eu-east
#  prune: true
#  sourceRef:
#    kind: GitRepository
#    name: home-kubernetes
#  wait: true
#  interval: 30m
#  retryInterval: 1m
#  timeout: 5m
