---
# yaml-language-server: $schema=https://kubernetes-schemas.trux.dev/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app vlc-telnet
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
    image:
      repository: "registry.${SECRET_DOMAIN}/vlc-telnet-docker"
      tag: "20230921"
    env:
      TELNET_PASSWORD: "test"
      VOLUME_LEVEL_PERCENT: 100
      SOUND_CARD_NUMBER: 1
    service:
      main:
        ports:
          http:
            port: 4212
    ingress:
      main:
        enabled: false

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    persistence:
      sound:
        enabled: true
        type: hostPath
        hostPath: /dev/snd
        mountPath: /dev/snd
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        supplementalGroups:
          - 29
      privileged: true

    podSecurityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0
      supplementalGroups:
        - 29
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - node-3
