---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  AWS_ACCESS_KEY_ID: "{{ bootstrap_aws_key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ bootstrap_aws_secret_access_key }}"
  S3_RESTIC_URL: "{{ bootstrap_restic_s3_url }}"
  RESTIC_PASSWORD: "{{ bootstrap_restic_password }}"
  GRAFANA_OAUTH_CLIENT_SECRET: "{{ bootstrap_grafana_oauth_client_secret }}"
  SECRET_USERNAME: "{{ bootstrap_default_username }}"
  SECRET_PASSWORD: "{{ bootstrap_default_password }}"
  INFLUXDB_SECRET: "{{ bootstrap_influxdb_myelectricaldata_token }}"
  HOME_ASSISTANT_PROMETHEUS_TOKEN: "{{ bootstrap_hass_token }}"
  SECRET_S3_URL: "{{ bootstrap_external_s3 }}"
