---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: pgadmin
  namespace: database
spec:
  interval: 30m
  chart:
    spec:
      chart: pgadmin4
      version: 1.26.0
      sourceRef:
        kind: HelmRepository
        name: runix
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    nameOverride: pgadmin
    strategy:
      type: Recreate
    env:
      email: admin@${SECRET_DOMAIN}
      password:
        valueFrom:
          secretKeyRef:
            name: pgadmin-secrets
            key: password

    existingSecret: pgadmin-secrets
    ingress:
      enabled: true
      ingressClassName: external
      annotations:
        external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hajimari.io/appName: "Postgres Admin"
        hajimari.io/icon: simple-icons:postgresql
      hosts:
        - host: &host pgadmin.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
    networkPolicy:
      enabled: false
    persistentVolume:
      enabled: true
      storageClass: ceph-block
      accessModes:
        - ReadWriteOnce
      size: 200Mi
    resources:
      requests:
        cpu: 15m
        memory: 183M
      limits:
        # cpu: 15m
        memory: 283M
