#---
#apiVersion: scheduling.k8s.io/v1
#kind: PriorityClass
#metadata:
#  name: high-priority
#value: 1000000
#globalDefault: false
#description: "This priority class should be used for XYZ service pods only."

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: database
spec:
#  dependsOn:
#    #- name: cluster-apps-rook-ceph-cluster
  interval: 15m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.21.6
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    crds:
      create: true
#
#    affinity:
#      nodeAffinity:
#        requiredDuringSchedulingIgnoredDuringExecution:
#          nodeSelectorTerms:
#            - matchExpressions:
#                - key: kubernetes.io/hostname
#                  operator: In
#                  values:
#                    - node-3

#
#    priorityClassName: "high-priority"
