---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app frigate
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/blakeblackshear/frigate
      tag: 0.12.1

    env:
      TZ: "Europe/Paris"
      LIBVA_DRIVER_NAME: iHD
#      LIBVA_DRIVER_NAME: i965

    envFrom:
      - secretRef:
          name: frigate-secret

    service:
      main:
        ports:
          http:
            port: &port 5000
          rtsp:
            enabled: true
            port: 8554

    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /api/version
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: mdi:car
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          #          kubernetes.io/ingress.class: "nginx"
          #          cert-manager.io/cluster-issuer: letsencrypt-staging
          #          nginx.ingress.kubernetes.io/whitelist-source-range: |
          #            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.security.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: "https://auth.${SECRET_DOMAIN}?rm=$request_method"
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Method $request_method;
        ingressClassName: "external"

        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    securityContext:
      privileged: true

    volumeClaimTemplates:
      - name: config
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
    #https://github.com/Diaoul/home-ops/blob/main/cluster/apps/home-automation/frigate/helmrelease.yaml

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: frigate-configmap
        subPath: config.yml
        mountPath: /config/config.yml
        readOnly: true
#
#      recs:
#        enabled: true
#        type: hostPath
#        hostPath: "/mnt/Services/camera/frigate"
#        mountPath: "/media/frigate/recordings"

      recs:
#        enabled: true
#        type: hostPath
#        hostPath: "/mnt/ssd_4to/cameras/frigate"
#        mountPath: "/media/frigate/recordings"
        enabled: true
        type: nfs
        server: "192.168.1.49"
        path: /mnt/ssd_4to/cameras/frigate
        mountPath: /media/frigate/recordings
        readOnly: false
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        mountPath: /dev/shm

      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/bus/usb
        hostPathType: Directory
        mountPath: /dev/bus/usb

#    nodeSelector:
#      google.feature.node.kubernetes.io/coral: "true"
    nodeSelector:
      intel.feature.node.kubernetes.io/gpu: "true"
      kubernetes.io/hostname: "node-3"
#
#    resources:
#      requests:
#        gpu.intel.com/i915: 1
##        cpu: 136m
##        memory: 1024Mi
#      limits:
#        gpu.intel.com/i915: 1
##        memory: 8192Mi
