logger:
  default: info

mqtt:
  host: "mosquitto.default.svc.cluster.local"
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USER}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

#detectors:
#  coral:
#    type: edgetpu
#    device: usb

# ffmpeg:
#   global_args: ["-hide_banner", "-loglevel", "warning"]
#   hwaccel_args: ["-hwaccel", "vaapi", "-hwaccel_device", "/dev/dri/renderD128", "-hwaccel_output_format", "yuv420p"]
#   output_args:
#     record: preset-record-ubiquiti
ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args: ["-hwaccel", "vaapi", "-hwaccel_device", "/dev/dri/renderD128", "-hwaccel_output_format", "yuv420p"]
  output_args:
    record: preset-record-generic-audio-aac

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 2

birdseye:
  enabled: True
  mode: continuous
  restream: true

record:
  enabled: true
  retain:
    days: 2
    mode: all
  events:
    retain:
      default: 2
      mode: active_objects
    required_zones:
      - portail
      - porte_entree
      - back_outdoor

objects:
  track:
    - person
#    - dog
    - car
    - door
#    - bird
#    - cat

  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7

go2rtc:
  rtsp:
    user: "{FRIGATE_MQTT_USER}"
    password: "{FRIGATE_MQTT_PASSWORD}"

  streams:
    frigate_front_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.70:554/h265Preview_01_main
    frigate_front_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.70:554/h264Preview_01_sub
    frigate_back_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.65:554/h265Preview_01_main
    frigate_back_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.65:554/h264Preview_01_sub
#    frigate_office_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.193:554/h265Preview_01_main
#    frigate_office_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.193:554/h264Preview_01_sub

cameras:
  # --
  front:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_front_lq
          roles:
            - detect
        - path: rtsp://localhost:8554/frigate_front_hq
          roles:
            - record
    detect:
      height: 360
      width: 640
      fps: 10
    objects:
      filters:
        person:
          min_area: 1500
          max_area: 100000
          threshold: 0.75
          min_score: 0.60
    zones:
      portail:
        coordinates: 588,53,587,0,493,0,491,32
      terrasse:
        coordinates: 640,360,640,281,204,179,0,360
      porte_entree:
        coordinates: 35,339,209,188,172,32,0,102
      parking:
        coordinates: 571,221,585,45,492,26,261,152
      back_outdoor:
        coordinates: 640,360,640,119,0,119,0,360
    motion:
      mask:
          - 154,0,0,46,0,0
          - 520,0,524,24,571,22,575,0
  back:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_back_lq
          roles:
            - detect
        - path: rtsp://localhost:8554/frigate_back_hq
          roles:
            - record
    detect:
      height: 360
      width: 640
      fps: 10
    objects:
      filters:
        person:
          min_area: 1500
          max_area: 100000
          threshold: 0.75
          min_score: 0.60
        car:
          mask:
            - 0,360,640,360,640,0,0,0
#  office:
#    ffmpeg:
#      inputs:
#        - path: rtsp://localhost:8554/frigate_office_lq
#          roles:
#            - detect
#        - path: rtsp://localhost:8554/frigate_office_hq
#          roles:
#            - record
#    detect:
#      height: 360
#      width: 640
#      fps: 10
#    objects:
#      filters:
#        person:
#          min_area: 1500
#          max_area: 100000
#          threshold: 0.75
#          min_score: 0.60
