---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app joplin
  namespace: &ns default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1001

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
#        initContainers:
#          init-db:
#            image:
#              repository: ghcr.io/onedr0p/postgres-init
#              tag: 14.9
#              pullPolicy: IfNotPresent
#            envFrom: &envFrom
#              - secretRef:
#                  name: joplin-secret
        containers:
          main:
            image:
              repository: joplin/server
              tag: 2.14.2-beta
            env:
              APP_BASE_URL: https://joplin.${SECRET_DOMAIN}
              APP_PORT: &port 8080
              DB_CLIENT: pg
              MAILER_ENABLED: 0
              MAILER_NOREPLY_NAME: JoplinServer
            envFrom:
              - secretRef:
                  name: joplin-secret
            resources:
              requests:
                cpu: 50m
                memory: 256Mi

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: "external"
        annotations:
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/group: Application
#          gethomepage.dev/name: Joplin
#          gethomepage.dev/description: Note Sync & Sharing Service
#          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/joplin.png
          external-dns.alpha.kubernetes.io/enabled: "true"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "joplin.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
